.form{
    width: 50%;
    margin: 50px 0px 50px 25%;
}

/* admin login section */
.admin-login-page{
    width: 50%;
    margin-top: 100px;
    margin-left: 25%;
}

@media only screen and (max-width: 992px)
{
    .admin-login-page{
        width: 80%;
        margin-left: 10%;
    }
}
@media only screen and (max-width: 398px)
{
    .admin-login-page{
        width: 100%;
        margin-left: 0%;
    }
}
/* add product edit modal */
.image_modal_container{
    width: 100%;
    position: relative;
}
.image_modal_container img{
    width: 100%;
}
.image_delete_icon{
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: rgba(242, 112, 112, 0.905);
}
.image_delete_icon:hover{
    background-color: rgb(38, 38, 38);
}
.image_delete_icon a{
    color: #fff;
    font-size: 20px;
}


/*  ADMIN PRELOADER */
.content_preloader{
    width: 100%;
    height: 1500px;
    z-index: 100;
    display: none;
    position: absolute;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
}
.content_preloader img{
    width: 400px;
}
.admin_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.activate{
    border: 2px solid rgb(123, 233, 123);
}
.deactivate{
    border: 2px solid rgb(236, 113, 113);
}
.icon{
    color: #717171;
}

/* ADMIN EDIT MODAL IMAGE */
.customer_image{
    width: 100%;
    position: relative;
}
.inner_image_container{
    width: 150px;
    height: 150px;
    margin: 0px auto;
    position: relative;
    border-radius: 50%;
}
.admin_image_modal{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.inner_image_container .fa-trash{
    right: -7px;
    bottom: 10px;
    color: #fff;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    border: 3px solid #fff;
    background-color: rgb(202, 95, 95);
}


/* VENDORS  */
.active_vendors{
    left: -10px;
    bottom: -10px;
    position: relative;
    font-size: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
}